body {
    background-color: rgb(4, 0, 0);
    color: rgb(252, 253, 252);
    margin: 0; 
    font-family: Figtree;
    
}


.header-container {
    position: relative; 
    text-align: center; 
}

.background-image {
    width:50%; 
    height: 50%; 
    z-index: 1; 
    left: -20px;
    
}

.container {
    position: relative; 
    width: 100%; 
    margin: auto; 
    margin: 20px; 
    text-align: left; 
}

h1 {
    font-family: Calvino Grande Trial;
    font-size: 75px;
    font-weight: 800;
    line-height: 75px;
    text-align: left;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 100px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin: 0; 
}

p {
    max-width: 400px;
    font-family: Figtree;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    min-width: 250px;
    margin-left: 20%;
    margin-top: -12%;
    left: 30%
}

a {
    text-align: center; 
    display:inline-block;
    margin-left: 30%; 
}

.link-button {
    display: inline-block;
    width: 200px; 
    height: 60px; 
    padding: 0; 
    line-height: 60px; 
    text-align: center; 
    color: white; 
    text-decoration: none; 
    border-radius: 15px; 
    background-color: rgb(4, 0, 0); 
    border: 1px solid white;
    box-sizing: border-box;
    transition: background-color 0.3s; 


}

.link-button:hover {
    background-color: #0056b3;
    color:rgb(4, 0, 0)
}